#escolha{
    background-color: #1b1b1b;
    color:  white;
    height: 350px;
    text-align: center;
    padding-top: 50px;
}
.cadastro{
    background-color: white;
    color:  black;
    height: 350px;
    text-align: center;
    padding-top: 50px;
}