body{
    background-color: #1b1b1b;
}
#titul-galeria{
    text-align: center;
    color: white;
    padding-top: 30px;
}
.img-galeria{
    height: 250px;
    width: 250px;
    padding-top: 10px;
}
@media (max-width: 1100px) { 
    .img-galeria{
        height: 200px;
        width: 200px;
    }
}
@media (max-width: 900px) { 
    .img-galeria{
        height: 150px;
        width: 150px;
    }
}
@media (max-width: 576px) { 
    .img-galeria{
        height: 230px;
        width: 230px;
    }
    .hide-img{
        display: none;
    }
}
#galeria{
    padding-bottom: 0px;
}
#gal-group{
    padding-bottom: 30px;
}
#redes-sociais{
    padding: 25px;
    background-color: white;
    height: 375px;
    text-align: center;
}
#redes-sociais hr{
    background-color: black;
}
@media (max-width: 770px) { 
    #redes-sociais p{
        display: none;
    }
}
.perfil{
    height: 150px;
    width:150px;
    border-radius: 80px;

}
a{
    color: #f06244;
}
a:hover{
    color: #f06244;
}