body{
    background-color: #1b1b1b;
}
#sobre-nos{
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}
#img-sobre{
    height: 300px;
    width: 300px;
    margin: auto;
}
#sobre-padel{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: right;
    color: white;
}
#curios-padel{
    background-color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
#curios-padel h1{
    padding-bottom: 30px;
}