/* banner area open*/
#banner{
    margin-bottom: -16px;
}
#banner-img{
    width: 100%;
}
#container {
    display: inline-block;
    position: relative;
}
/* banner area- saiba mais*/
#saiba_mais {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 60%;
    padding: 20px;
    padding-top: 6%;
    text-align: center;
    color: white;
}
#saiba_mais h1{
      font-size: 60px;
}
#saiba_mais p{
      font-size: 22px;
}
#btn-banner{
      margin-top: 10px;
      background-color: rgba(0, 0, 0, 0);
      color: white;
      border-width: 1px;
      border-color: white;
      border-radius: 20px;
      padding: 7px;
      padding-left: 50px;
      padding-right: 50px;
      width: 200px;
}
@media (max-width: 991.98px) { 
    #saiba_mais{
        padding-top: 0px;
        width: 100%;
        margin-top: 5%;
    }
}

/* banner area-aula teste*/
#curios{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 40%;
    text-align:  center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding-top: 6%;
}
#curios h1{
    margin-bottom: 15px;
}
#curios hr{
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
}
#btn-curios{
    background-color: #f06244;
    border: none;
    color: white;
    margin: 10px;
    width: 120px;
    border-radius: 15px;
    padding: 5px;
    width: 200px;
}
@media (max-width: 991.98px) { 
    #curios{
        display: none;
    }
}

/*Inicio Galeria*/
#galeria{
    margin-top: 0px;
    background-color: #1b1b1b;
    width: 100%;
    padding-bottom: 30px;
}
.img-galeria{
    width: 200px;
    height: 200px;
    margin-top: 15%;
}
#btn-gal{
    background-color: #f06244;
    border: none;
    color: white;;
    width: 200px;
    margin-top: 30px;
    border-radius: 20px;
    margin-left: 40%;
    padding: 7px;
}

/*area de duas cores()*/
#area-azul{
    background-color: #16294a;
    width: 50%;
    left: 0px;
    height: 350px;
    margin-top: 0px;
}
#area-laranja{
    background-color: #f06244;
    width: 50%;
    left: 50%;
    height: 350px;
    margin: 0px;
}