@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
#logo-img{
    height: 80px;
    width: 80px;
    margin-right: 10px;
}
@media (max-width: 799.98px) { 
    #logo-img{
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }
}
.nome-logo{
    font-size: 45px;
    color: #1b1b1b;
    font-family: 'Fjalla One', sans-serif;
}
@media (max-width: 799.98px) { 
    .nome-logo{
        font-size: 20px;
    }
}
.navbar {
    background-color: white;
    z-index: 1;
    top: -2px;
}
@media (min-width: 991.98px) { 
    .navbar-toggler{
        display: none;
    }
}
.link-nav{
    color: #1b1b1b;
    font-size: 20px;
    font-weight: bold;
}
.link-nav:hover{
    color: #16294a;
    text-decoration: none;
}
@media (max-width: 991.98px) { 
    .link-nav{
        display: none;
    }
}
#navbarHeader{
    padding-top: 15px;
    padding-bottom: 15px;
}
.link-colap{
    color: white;
    background-color: #f06244;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
}
.margin-collapse{
    margin-bottom: 14px;
}
.link-colap:hover{
    color: white;
    text-decoration: none;
    background-color: #863524;
}
/* banner area open*/
#banner{
    margin-top: -40px;
    margin-bottom: -16px;
}
@media (max-width: 730px) { 
    #banner{
        margin-top: -58px;
        margin-bottom: -16px;
    }
}
#banner-img{
    width: 100%;
    height: 100%;
}
#container {
    display: inline-block;
    position: relative;
}
/* banner area- saiba mais*/
#info-carouse {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 50%;
    padding: 20px;
    padding-top: 140px;
    text-align: center;
}
#indica-info{
    margin-bottom: -80px;
}
@media (max-width: 575.98px) { 
    #indica-info{
        margin-bottom: -10px;
        z-index: -1;
    }
}
#info-carouse h1{
    font-size: 60px;
    color: rgb(255, 255, 255);
    padding: 4px;
    padding: 8px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}
#info-carouse hr{
    background-color: white;
    margin-bottom: -5px;
    margin-top: 5px;
}
#info-carouse h4{
    font-size: 22px;
    color: white;
    padding: 8px;
    padding-bottom: 15px;
}
#btn-banner{
      margin-top: 10px;
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
      border-width: 1px;
      border-color: white;
      border-radius: 20px;
      padding: 7px;
      padding-left: 50px;
      padding-right: 50px;
      width: 200px;
}
/* banner area- saiba mais respnsivo*/
@media (max-width: 991.98px) { 
    #info-carouse{
        padding-top: 0px;
        width: 100%;
        margin-top: 15%;
    }
}
@media (max-width: 700px) { 
    #info-carouse{
        margin-top: 11%;
    }
    #info-carouse h1{
        font-size: 30px;
  }
  #info-carouse h4{
    font-size: 22px;
}
 }
@media (max-width: 575.98px) { 
    #info-carouse{
        margin-top: 15%;
    }
    #info-carouse h1{
        font-size: 19px;
  }
  #info-carouse h4{
    font-size: 14px;
}
#btn-banner{
    display: none;
}
}
/* banner area-sobre nos*/
#sobre{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 50%;
    text-align:  center;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 40px;
    padding-top: 11%;
}
#sobre h1{
    margin-bottom: 15px;
}
#sobre hr{
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
}
#btn-sobre{
    background-color: #f06244;
    border: none;
    color: white;
    margin: 10px;
    width: 120px;
    border-radius: 15px;
    padding: 5px;
    width: 200px;
}
@media (max-width: 991.98px) { 
    #sobre{
        display: none;
    }
}
@media (max-width: 575.98px) { 
    #btn-sobre{
        margin-top: -10px;
        width: 100px;
        padding-left: 0px;
        padding-right: 0px;
    }
 }
/*area de duas cores mobile*/
#area-2cores-mobile{
    color: white;
    text-align: center;
}
#area-2cores-mobile h1{
    margin-top: 8%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
}
#area-2cores-mobile hr{
    background-color: white;
    width: 400px;
}
#area-2cores-mobile p{
    padding-left: 10px;
    padding-right: 10px;
}
@media (min-width: 575.98px) { 
    #area-2cores-mobile{
        display: none;
    }
 }

/*area de duas cores*/
#area-2cores{
    color: white;
}
@media (max-width: 575.98px) { 
    #area-2cores{
        display: none;
    }
 }
#area-2cores h1{
    margin-top: 8%;
}
#area-2cores hr{
    background-color: white;
}
#area-azul{
    background-color: #16294a;
    left: 0px;
    height: 350px;
    margin-top: 0px;
}
#area-cinza{
    background-color: #1b1b1b;
    height: 350px;
    margin: 0px;
}
.btn-laranja{
    border: none;
    border-radius: 25px;
    background-color: #f06244;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
    width: 150px;
}

/*Inicio Galeria*/
#galeria{
    z-index: 1;
    margin-top: 0px;
    background-color: #1b1b1b;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 35px;
    text-align: center;
    color: white;
}
.img-galeria{
    width: 200px;
    height: 200px;
    margin-top: 15%;
}
@media (max-width: 575.98px) { 
    .img-galeria{
        margin-top: 8px;
    }
    #galeria{
        padding-top: 25px;
    }
    .hide-img{
        display: none;
    }
 }
.esq-gal{
    margin-left: -115px;
    margin-bottom: -90px;
}
.dir-gal{
    margin-right: -115px;
    margin-bottom: -90px;
}
@media (max-width: 990px) { 
    .esq-gal{
        margin-left: 0px;
        margin-bottom: -90px;
    }
    .dir-gal{
        margin-right: 0px;
        margin-bottom: -90px;
    }
 }
#btn-gal{
    background-color: #f06244;
    border: none;
    color: white;
    position: relative;
    width: 200px;
    margin-top: 30px;
    border-radius: 20px;
    padding: 7px;
}

/*area de contato*/
#contato-paralax{
    height: 300px;
    background-image: url(../img/padel-ban70.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
    padding-top: 110px;
}

/*area do clube*/
#clube-paralax{
    height: 300px;
    background-image: url(../img/padel-paralax2-70.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding-top: 110px;
}
@media (max-width: 575.98px) { 
    #clube-paralax{
        padding-top: 80px;
    }
 }
/*footer*/
footer{
    height: 250px;
    background-color: #16294a;
    color: white;
    text-align: left;
    padding-top: 90px;
    padding-left: 60px;
    padding-right: 60px;
}
footer a{
    padding-top: 50px;
    color: #f06244;
}
footer a:hover{
    color: #f06244;
}
iframe{
    position: relative;
    float: right;
    margin-top: -180px;
}
@media (max-width: 850px) { 
    footer{
        padding-left: 20px;
        padding-right: 20px;
    }
 }
 @media (max-width: 760px) { 
    iframe{
        display: none;
    }
    footer{
        text-align: center;
        padding-top: 40px;
        height: 190px;
    }
 }