@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
#logo-img{
    height: 80px;
    width: 80px;
    margin-right: 10px;
}
@media (max-width: 799.98px) { 
    #logo-img{
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }
}
.nome-logo{
    font-size: 45px;
    color: #1b1b1b;
    font-family: 'Fjalla One', sans-serif;
}
@media (max-width: 799.98px) { 
    .nome-logo{
        font-size: 20px;
    }
}
.navbar {
    background-color: white;
    z-index: 1;
    top: -2px;
}
@media (min-width: 991.98px) { 
    .navbar-toggler{
        display: none;
    }
}
.link-nav{
    color: #1b1b1b;
    font-size: 20px;
    font-weight: bold;
}
.link-nav:hover{
    color: #16294a;
    text-decoration: none;
}
@media (max-width: 991.98px) { 
    .link-nav{
        display: none;
    }
}
#navbarHeader{
    padding-top: 15px;
    padding-bottom: 15px;
}
.link-colap{
    color: white;
    background-color: #f06244;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
}
.margin-collapse{
    margin-bottom: 14px;
}
.link-colap:hover{
    color: white;
    text-decoration: none;
    background-color: #863524;
}
/* btn geral*/
.btn-laranja{
    border: none;
    border-radius: 25px;
    background-color: #f06244;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
    width: 150px;
}
.btn-laranja:hover{
    background-color: #9b3f2c;
}
/*area de contato*/
#contato-paralax{
    height: 300px;
    background-image: url(../img/padel-ban70.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
    padding-top: 30px;
}
#contato-paralax a{
    color: #f06244;
}
#contato-paralax a:hover{
    text-decoration: none;
}
.area-cont{
    background-color: #000000b6;
    width: 200px;
    margin: auto;
    cursor: pointer;
}
.area-cont:hover{
    background-color: #000000;
}
#contato-paralax h1{
    padding-bottom: 30px;
}
#btn-laranja-cont {
    margin-top: 30px;
}
@media (max-width: 767px) { 
    #face-link{
        display: none;
    }
    .col-sm-4 {
        margin-left: 45px
    }
}
@media (max-width: 577px) {
    .col-sm-4 {
        margin-left: 25px
    }
    #contato-paralax{
        height: 350px;
    }
    #contato-paralax h1{
        padding-bottom: 10px;
    }
    #btn-laranja-cont {
        margin-top: 10px;
    }
}
/*footer*/
footer{
    height: 250px;
    background-color: #1b1b1b;
    color: white;
    text-align: left;
    padding-top: 90px;
    padding-left: 60px;
    padding-right: 60px;
}
footer a{
    padding-top: 50px;
    color: #f06244;
}
footer a:hover{
    color: #f06244;
}
iframe{
    position: relative;
    float: right;
    margin-top: -180px;
}
@media (max-width: 850px) { 
    footer{
        padding-left: 20px;
        padding-right: 20px;
    }
 }
 @media (max-width: 760px) { 
    iframe{
        display: none;
    }
    footer{
        text-align: center;
        padding-top: 40px;
        height: 190px;
    }
 }