a{
    color: black
}
a:hover{
    color: black;
}
h3{
    margin-bottom: 30px;
}
#h3-icons{
    margin-bottom: 40px;
}
.btn-laranja-escolha{
    border: none;
    border-radius: 25px;
    background-color: #f06244;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
}
.btn-laranja-escolha:hover{
    background-color: #9b3f2c;
}
.input-round{
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    font-size: 18px;
    padding: 6px 8px;
    width: 350px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.nome{
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    font-size: 18px;
    padding: 6px 8px;
    width: 172px;
    margin-top: 2px;
    margin-bottom: 2px;
}
hr{
    background-color: black;
    margin-bottom: 15px;
    margin-top: 15px;
}
.pointer{
    cursor: pointer;
}
.float-desc{
    color: #979797;
}
#escolha{
    background-color: #1b1b1b;
    color:  white;
    height: 200px;
    text-align: center;
    padding-top: 35px;
}
#escolha h1{
    margin-bottom: 20px;
}
#cadastro-torn{
    background-color: white;
    color:  black;
    height: 520px;
    text-align: center;
    padding-top: 0px;
}
@media (max-width: 900px) { 
    .btn-escolha{
        margin-left: -100px;
    }
}
#cadastro-torn h1{
    padding-top:15px;
    padding-bottom: 5px;
}
#muda-form{
    margin-top: 330px;
}
#muda-form:hover{
    text-decoration-line: underline;
    cursor: pointer;
}
.icon-torn{
    height: 60px;
    width: 60px;
    position: absolute;
    left: 200px;
    cursor: pointer;
}
#chave-torneio{
    background-color: white;
    color:  black;
    height: 250px;
    text-align: center;
    padding-top: 50px;
}

form{
    margin-top: 0px;
    position: absolute;
    text-align: left;
    left: 50%;
    margin-left: -180px;
}
.icon{
    margin-top: -5px;
    margin-left: 20px;
    margin-right: 20px;
    height: 60px;
    width: 60px;
    cursor: pointer;
}
.area-contato-icon{
    text-align: left;
    margin-left: 260px;
    cursor: pointer;
}